/* Custom FontStyles */

@font-face {
  font-family: Montserrat-Thin;
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: Montserrat-ThinItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: Montserrat-ExtraLight;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: Montserrat-ExtraLightItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 200;
}

@font-face {
  font-family: Montserrat-Light;
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat-LightItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-LightItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat-MediumItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-SemiBoldItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-BoldItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-BoldItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: Montserrat-ExtraBoldItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 800;
}

@font-face {
  font-family: Montserrat-Black;
  src: url("../assets/fonts/Montserrat/Montserrat-Black.ttf");
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: Montserrat-BlackItalic;
  src: url("../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf");
  font-stretch: normal;
  font-style: italic;
  font-weight: 900;
}
