.dashboard-page {

  ::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  ::-webkit-scrollbar:vertical {
    width: 8px !important;
  }

  ::-webkit-scrollbar:horizontal {
    height: 10px !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--black-transparent-20, rgba(0, 0, 0, 0.2)) !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
  }

  .titulo-dashboard {
    border-left-style: solid;
    border-left-color: #6EB15B;
    border-left-width: 5px;
  }

  .top-container {
    min-height: 57%;
    max-height: 57%;
  }

  .bottom-container {
    height: 30%;
  }

  #lista-KPI {
    height: 57vh !important;
    overflow: scroll !important;
    overflow-x: hidden;
    background-color: #EFEFEF !important;
    list-style-type: none;
    padding: 2rem !important;

    .KPI-Card {
      max-width: 24rem;
    }

    .card-rain-icon, .card-temperature-icon {
      width: 40px;
      height: 40px;
    }
  }

  #mapa {
    height: 57vh;
    max-width: 75.4vw !important;
  }

  // Estilos para el selector del tipo del mapa
  #mapa > div > div > div.gmnoprint.gm-style-mtc > div:nth-child(1) {
    background-color: #009DEB !important;
    background-image: url("../assets/img/custom-icons/angle-double-down.svg");
    background-position: right 1rem center;
    background-repeat: no-repeat;
    background-size: 12px;
    color: white !important;

    img {
      display: none;
    }
  }

  // Estilos para el dropdown del selector del estilo del mapa
  #mapa > div > div > div.gmnoprint.gm-style-mtc > div:nth-child(2) {
    div {
      background-color: #009DEB !important;
      color: white !important;
    }
  }

  // Estilos para el contenedor de los botones de zoom del mapa
  #mapa > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div > div {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
  }

  // Estilos generales para los 2 botones de zom-in (+) y zoom-out (-) del mapa
  #mapa > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div > div > button:nth-child(1), #mapa > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div > div > button:nth-child(3) {
    background-color: #009DEB !important;
    background-repeat: no-repeat !important;
    background-size: 18px !important;
    background-position: center !important;

    img {
      display: none;
    }
  }

  // Estilos para el boton de zoom-in del mapa (+)
  #mapa > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div > div > button:nth-child(1) {
    background-image: url("../assets/img/custom-icons/plus.svg") !important;
  }

  // Estilos para el boton de zoom-out del mapa (-)
  #mapa > div > div > div.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom > div > div > button:nth-child(3) {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    background-image: url("../assets/img/custom-icons/minus.svg") !important;
  }

  // Estilos para el boton de ubicacion actual
  #you_location_img {
    background-image: url("../assets/img/custom-icons/location-arrow.svg") !important;
    background-repeat: no-repeat !important;
  }

  #grafico-temperatura {
    height: 100%;
  }

  #grafico-humedad {
    height: 100%;
  }
}
